# Ignore virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env
Shubh\.env
# VS Code settings (optional)
.vscode/

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Logs or temporary files (optional)
*.log
*.tmp

#Specific Files
sem-1.pdf
plan.txt
FINAL YEAR SYNOPSIS.docx
test.py
Shubh\Test_Doc_1.pdf
Shubh\Test_Doc_2.pdf

